{% extends "sjopinie_app/layout_simple.html" %}

{% load i18n %}

{% block head_title %}Zmiana emaila{% endblock %}

{% block content %}
    <h1>Adres e-mail</h1>
    {% if new_email %}
    <p>Zmieniono email na {{new_email}}</p>
    {% endif%}

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="action_add" type="submit">Zmień email</button>
    </form>

{% endblock %}


{% block extra_body %}


{% endblock %}
