{% extends "sjopinie_app/layout.html" %} {% block title %} Strona główna
sjopinie {%endblock %} {% block content %}
<div class="body-content page-sheet shadow">
  <header>
    <h2>Hej, {{user.get_username}}!</h2>
    <p>Twoje opinie są coraz bardziej popularne!</p>
    <hr>
  </header>

<h3>Przegląd</h3>
<div class="statistics">
  <div class="statistics-block shadow">
    <h2>8</h2>
    <span class="subtitle">Twoich opinii</span>
  </div>
  <div class="statistics-block shadow">
    <h2>512</h2>
    <span class="subtitle">Opinii całego serwisu</span>
  </div>
  <div class="statistics-block shadow">
  <h2>321</h2>
    <span class="subtitle">Opinii całego serwisu</span>
  </div>
</div>



</div>



{% endblock %}
{% block load-scripts %} {% load static %}
{% endblock %}



<!-- <input id="add_subject" type="submit" value="Dodaj przedmiot" />
<input id="add_lect" type="submit" value="Dodaj prowadzącego" />
<input id="add_opinion" type="submit" value="Dodaj opinię" />
<script async>
  document.getElementById("add_subject").onclick = function () {
    location.href = "/new/subject";
  };
  document.getElementById("add_lect").onclick = function () {
    location.href = "/new/lecturer";
  };
</script> -->
