<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'sjopinie_app/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"/>
  </head>
  <body>
    <div class="website-container">
      <header class="page-header">
        <div class="logo">
          <a href="/" style="font-weight: 700">sjopinie.pl</a>
        </div>

        {% if user.is_authenticated %}
        <div class="search-bar">
         <input
           id="navbar-search-text"
           type="search"
           name="search-bar"
           placeholder="Wyszukaj..."
         />
         <button
           id="navbar-search-button"
           type="submit"
           name="search"
           class="search-button"
         >
           <span class="material-icons-outlined"> search </span>
         </button>
       </div>

          <div class="menu" style="float: right;">
                   <div class="menu-user">
                     <img
                       src="{% static 'sjopinie_app/media/avatar/avatar.svg' %}"
                       width="25px"
                       height="25px;"
                       class="left"
                     /><span style="padding: 0px 10px;">{{user.get_username}}</span>
                     <span
                       class="material-icons-outlined icon-align"
                       style="font-size: 24px;">
                       expand_more
                     </span>
                   </div>
                   <div class="menu-content">
                     <a href="#"><span class="material-icons-outlined icon-align" style="font-size: 22px;">settings</span>Ustawienia</a>
                     <a href="/api-auth/logout/">
                       <span
                         class="material-icons-outlined icon-align"
                         style="font-size: 22px;">
                         logout </span>Wyloguj</a>
                   </div>
                 </div>
               </header>
               <div style="clear: both;"></div>
        {% endif %}
      </header>
      <div style="clear: both"></div>
    </div>
    <!-- Load development version ov VUE TODO change to production one at the end -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div class="website-container">

        {% block content %} {% endblock %}


      <div class="page-sheet footer-content">
        <hr>
        <footer style="clear: both">
          <p>Copyright © 2022 sjopinie Team</p>
        </footer>
      </div>
    </div>

    {% if user.is_authenticated %}
    <script async>
      document
        .querySelector("#navbar-search-text")
        .addEventListener("keyup", function (event) {
          // Number 13 is the "Enter" key on the keyboard
          if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("navbar-search-button").click();
          }
        });
      document.querySelector("#navbar-search-button").onclick = function () {
        let query = document.querySelector("#navbar-search-text").value;
        if (query) {
          location.href = "/search/" + query;
        }
      };
    </script>

    {% endif %} {% block load-scripts %} {% endblock %}
  </body>
</html>
