{% extends "sjopinie_app/layout.html" %} {% block title %} Prowadzący
{%endblock%} {% block content %} Id przedmoitu: {{id}}
<br />
<h2>Ogólne informacje</h2>
Imie i nazwisko: {{full_name}}

<h2>Opinie</h2>
<table style="width: 100%">
  <thead>
    <th scope="col">Autor</th>
    <th scope="col">Przedmiot</th>
    <th scope="col">Data</th>
    <th scope="col">Opinia</th>
    <th scope="col">Łatwy</th>
    <th scope="col">Ciekawy</th>
    <th scope="col">Użyteczny</th>
    <th scope="col">Głosy</th>
  </thead>
  <tbody id="listTable">
    {% for opinion in opinions %}
    <tr style="cursor: pointer">
      <td>{{opinion.author_name}}</td>
      <td>
        <a href="/subject/{{opinion.subject_of_opinion}}"
          >{{opinion.subject_name}}</a
        >
      </td>
      <td>{{opinion.publish_time}}</td>
      <td>{{opinion.opinion_text}}</td>
      <td>{{opinion.note_easy}}</td>
      <td>{{opinion.note_interesting}}</td>
      <td>{{opinion.note_useful}}</td>
      <td>{{opinion.votes_count}}</td>
      <td></td>
    </tr>
    {%endfor%} {%if 10 <= opinions|length%}
    <tr v-for="(row, index) in rows">
      <td>{+row.author_name+}</td>
      <td>
        <a v-bind:href="'/subject/'+row.subject_of_opinion"
          >{+row.subject_name+}</a
        >
      </td>
      <td>{+row.publish_time+}</td>
      <td>{+row.opinion_text+}</td>
      <td>{+row.note_easy+}</td>
      <td>{+row.note_interesting+}</td>
      <td>{+row.note_useful+}</td>
      <td>{+row.votes_count+}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{%if 10 <= opinions|length%}
<input id="load_more" type="submit" value="V" />
<script>
  var listTable = new Vue({
    el: "#listTable",
    delimiters: ["{+", "+}"],
    data: {
      rows: [],
      num_rows: 10,
    },

    methods: {
      addRow: function (row) {
        this.rows.push(row);
      },
    },
  });

  const loadBtn = document.getElementById("load_more");
  loadBtn.onclick = function () {
    const LOADED = 10;
    fetch(
      `/api/opinions/?limit=${LOADED}&offset=${listTable.num_rows}&lecturer_id={{id}}`
    )
      .then((response) => response.json())
      .then((list) => {
        list.results.forEach((element) => {
          listTable.addRow(element);
        });
        if (list.next === null) {
          loadBtn.remove();
        }
      });
    listTable.num_rows += LOADED;
  };
</script>
{% endif %} {% endblock %}
