<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>Logowanie - sjopinie.pl</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'sjopinie_app/style.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="website-container">
      <header class="page-header">
        <div class="logo">
          <a href="/" style="font-weight: 700">sjopinie.pl</a>
        </div>
      </header>
      <div class="login-panel-sheet shadow">
        <h2>Logowanie</h2>
        {% for field, errors in form.errors.items %}
        <div></div>
        {% for error in errors %}
        <p>{{error}}</p>
        {%endfor%} {%endfor%}
        <form action="" method="post">
          <input
            type="text"
            name="username"
            maxlength="150"
            id="id_username"
            required=""
            placeholder="Adres e-mail"
          />

          <input
            type="password"
            name="password"
            autocomplete="current-password"
            required=""
            id="id_password"
            placeholder="Hasło"
          />
          {% csrf_token %}
          <input type="submit" value="Zaloguj się" />
        </form>
        <span class="form-consent">
          Nie masz konta? <a href="/signup">Zarejestruj się</a>
        </span>
      </div>
      <div class="description">
        <h2>System oceniania przedmiotów na Studium Języków Obcych PW</h2>
        <p>
          Portal pozwala na dodawanie i przeglądanie opinii oraz ocen o
          przedmiotach i prowadzących. Aby korzystać z serwisu musisz być
          zalogowany/a. Nie masz konta?
          <a href="#">Zarejestruj się tutaj!</a>
        </p>
      </div>
    </div>
  </body>
</html>
